{{>templates/header.mustache}}

<section class="container" id="about">
  <h2 class="section-title text-center mb-1">About me</h2>
  <p>Hello there!</p>
  <p>My name is Alexandre, aka <strong>NotAlex</strong> on Discord.</p>
  <p>I started playing Star Wars Unlimited one week after its release.
    Like many people my age, I'm a Star Wars fan.</p>
  <p>I used to play a lot of board games - much less since Star Wars Unlimited entered my life!</p>
  <p><a href="https://www.linkedin.com/in/alexandre-roman/" target="_blank">I'm a software engineer</a>,
    and I love building stuff. This website is an attempt to solve THE question many SWU
    players wonder about: will my deck beat Jango?!?</p>

  <div class="info-banner mt-4">
    <blockquote class="m-0 p-0">{{quote}}</blockquote>
  </div>
</section>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfilePage",
    "dateCreated": "2025-04-07T23:11:33.206982086Z",
    "dateModified": "2025-04-07T23:11:33.206982086Z",
    "mainEntity": {
      "@type": "Person",
      "name": "Alexandre",
      "alternateName": "NotAlex",
      "description": "Hosting swumeta.net",
      "sameAs": [
        "https://www.linkedin.com/in/alexandre-roman/"
      ]
    }
  }
</script>

{{>templates/footer.mustache}}
