<p class="fs-6 m-0 p-0 mb-1"><a href="/tournaments/" class="text-decoration-none sw-link">Tournaments</a> &gt;</p>
<h1 class="section-title text-truncate d-block">
  <i class="me-1 fi fi-{{countryFlag}}"></i>
  {{event.name}}
</h1>

<div class="row">
  <dl class="d-lg-none col event-metadata">
    <div>
      <dt class="text-secondary">Location:</dt>
      <dd class="fw-bold">{{event.location}}</dd>
    </div>
    <div>
      <dt class="text-secondary">Date:</dt>
      <dd class="fw-bold">{{event.date}}</dd>
    </div>
    <div>
      <dt class="text-secondary">Type:</dt>
      <dd><span class="fw-bold">{{event.type}}</span> / {{event.players}} players</dd>
    </div>
    {{#event.melee}}
      <div>
        <dt class="text-secondary">Source:</dt>
        <dd><i class="bi bi-box-arrow-up-right me-1"></i>
          <a class="source" href="{{event.melee}}" target="_blank">Melee.gg</a></dd>
      </div>
    {{/event.melee}}
  </dl>
  <div class="d-none d-lg-block col event-metadata">
    <div class="hstack gap-3 mb-4 p-3 rounded rounded-2 bg-dark">
      <div class="hstack">
        <i class="bi bi-geo-alt-fill me-2"></i>
        {{event.location}}
      </div>
      <div class="vr"></div>
      <div class="hstack">
        <i class="bi bi-calendar-event-fill me-2"></i>
        {{event.date}}
      </div>
      <div class="vr"></div>
      <div class="hstack">
        <i class="bi bi-trophy-fill me-2"></i>
        {{event.type}}
      </div>
      <div class="vr"></div>
      <div class="hstack">
        <i class="bi bi-people-fill me-2"></i>
        {{event.players}} players
      </div>
      {{#event.melee}}
        <div class="hstack ms-auto">
          <i class="bi bi-box-arrow-up-right me-2"></i>
          <a class="source" href="{{event.melee}}" target="_blank">Melee.gg</a>
        </div>
      {{/event.melee}}
    </div>
  </div>
</div>
