{{>templates/header.mustache}}

<section class="container">
  {{>templates/event-header.mustache}}

  <div class="row">
    <div class="col mt-3">
      {{>templates/winrates-chart.mustache}}
    </div>
  </div>
  <div class="row">
    <div class="col mt-3">
      {{>templates/winrates-matrix.mustache}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="bar-chart w-100" data-url="all-leaders.json" data-title="All Leaders"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="bar-chart w-100" data-url="top64-leaders.json" data-title="Top 64 Leaders"></div>
    </div>
    <div class="col-xl-6">
      <div class="bar-chart w-100" data-url="top64-conversion.json" data-title="Top 64 Conversion (%)" data-percent="true"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="bar-chart w-100" data-url="top8-leaders.json" data-title="Top 8 Leaders"></div>
    </div>
    <div class="col-xl-6">
      <div class="bar-chart w-100" data-url="top8-conversion.json" data-title="Top 8 Conversion (%)" data-percent="true"></div>
    </div>
  </div>
</section>

{{>templates/footer.mustache}}
