{{>templates/header.mustache}}

<section class="container">
  {{>templates/event-header.mustache}}

  {{^noDeck}}
    <div class="row mt-4">
      <div class="col-lg-6">
        <div id="chart-leaders" style="width: 100%; min-height: 400px"></div>
      </div>
      <div class="col-lg-6">
        <div id="chart-bases" style="width: 100%; min-height: 400px"></div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col text-end"><a href="{{statsPage}}" class="sw-link" style="font-size: 90%">
        <i class="bi bi-bar-chart-fill me-2"></i>more statistics...</a></div>
    </div>
  {{/noDeck}}

  <div class="row">
    <div class="col-12">
      {{#noDeck}}
        <p class="my-4"><i class="text-warning bi bi-exclamation-triangle-fill me-1"></i>
          <strong>No deck found</strong>: please try again later</p>
      {{/noDeck}}
      {{^noDeck}}
        <div class="table-responsive">
          <table id="decks" class="table table-hover sw-table">
            <thead>
            <tr>
              <th scope="col" class="text-end">#</th>
              <th scope="col">Decklist</th>
              <th scope="col" class="d-none d-md-table-cell">&nbsp;</th>
              <th scope="col" class="d-none d-md-table-cell">&nbsp;</th>
              <th scope="col" class="text-center d-none d-md-table-cell">Record</th>
              <th scope="col" class="text-center d-none d-md-table-cell">Aspects</th>
              <th scope="col" class="text-end">Player</th>
            </tr>
            </thead>
            <tbody>
            {{#decks}}
              <tr class="d-none">
                <td class="align-middle text-end fit">
                  <span class="align-middle text-secondary" style="font-size: 80%">
                    {{#pending}}<strong>N/A</strong>{{/pending}}
                    {{^pending}}{{rank}}{{/pending}}
                  </span></td>
                <td class="align-middle d-none d-md-table-cell fit">
                  <img src="{{leader.thumbnail}}" width="120" height="40"
                       class="rounded rounded-1 d-inline-block me-2"/>
                  <img src="{{base.thumbnail}}" width="120" height="40" class="rounded rounded-1 d-inline-block"/>
                </td>
                <td class="align-middle">
                  <span class="align-middle"><a href="{{deck.source}}" target="_blank">{{name}}</a></span>
                </td>
                <td class="align-middle text-center d-none d-md-table-cell fit">
                  <button class="btn-copy align-middle ms-2 btn btn-success btn-sm"
                          onclick="copyDeck('swudb-deck-{{deck.id}}');">
                    <i class="bi bi-copy me-1"></i>.json
                  </button>
                </td>
                <td class="align-middle text-center d-none d-md-table-cell fit">
                  <span class="align-middle">{{deck.matchRecord}}</span>
                </td>
                <td class="align-middle text-center d-none d-md-table-cell fit">
                  {{#aspects}}
                    <img src="/images/{{.}}" width="32" height="32"/>
                  {{/aspects}}
                </td>
                <td class="align-middle text-end fit">
                  <span class="align-middle">{{deck.player}}</span>
                </td>
              </tr>
            {{/decks}}
            </tbody>
            <tfooter>
              <tr class="text-center" id="showMoreSection">
                <td colspan="7">
                  <button class="btn btn-sw m-2" onclick="showMoreDecks();">
                    Show more <i class="bi bi-caret-down-fill"></i></button>
                </td>
              </tr>
            </tfooter>
          </table>
        </div>
      {{/noDeck}}
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    {{#videoLinks}}
      <div class="col-6 my-2" style="min-width: 400px">
        <h3 class="text-secondary fs-6">{{title}}</h3>
        <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;">
          <iframe src="{{{url}}}" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;"
                  allowfullscreen scrolling="no" allow="encrypted-media;"></iframe>
        </div>
      </div>
    {{/videoLinks}}
  </div>
</section>

{{^noDeck}}
  <script type="text/javascript">
    const leaderData = [
      {{#leaderSerie}}
        { value: {{value}}, name: "{{{key}}}" },
      {{/leaderSerie}}
    ];
    const baseData = [
      {{#baseSerie}}
        { value: {{value}}, name: "{{{key}}}" },
      {{/baseSerie}}
    ];
    createHorizontalBarChart('chart-leaders', leaderData, {
        title: 'Leaders',
    });
    createHorizontalBarChart('chart-bases', baseData, {
        title: 'Bases',
    });
  </script>
{{/noDeck}}

{{#decks}}
  <pre class="d-none" id="swudb-deck-{{deck.id}}">
    {{{swudbFormat}}}
  </pre>
{{/decks}}

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="copy-toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true"
       data-bs-delay="2000">
    <div class="d-flex">
      <div class="toast-body">Copied deck to clipboard.</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function copyDeck(deckId) {
    const text = document.getElementById(deckId).textContent.trim();
    navigator.clipboard.writeText(text)
    .then(() => {
      bootstrap.Toast.getOrCreateInstance(document.getElementById("copy-toast")).show();
    }).catch(err => {
      console.error('Error during copy: ', err);
    });
  }

  function showMoreDecks() {
    const table = document.getElementById("decks");
    const rows = table.querySelectorAll("tr");
    let i = 0;
    for (const row of rows) {
      row.classList.remove("d-none");
      i++;
    }
    const showMoreSection = document.getElementById("showMoreSection");
    showMoreSection.classList.toggle("d-none", true);
  }

  document.addEventListener('DOMContentLoaded', function() {
    const table = document.getElementById("decks");
    const rows = table.querySelectorAll("tr");
    let i = 0;
    for (const row of rows) {
      if (i > 8) break;
      row.classList.remove("d-none");
      i++;
    }
  });
</script>

{{>templates/footer.mustache}}
