{{>templates/header.mustache}}

<section class="container">
  <h1 class="section-title">{{meta.title}}</h1>

  <div class="info-banner d-none d-md-block mb-3" style="font-size: 90%">
    <p>This page features a curated selection of Star Wars Unlimited tournaments that have made a significant impact on
      the competitive metagame. To maintain quality and relevance, we only include events with at least 32 participants.
      This approach ensures that the tournament data represented here reflects substantial competitive environments
      where meaningful strategies and deck trends can be observed.</p>
    <p>While we strive to include all major tournaments, this listing is not exhaustive. If you know of a
      qualifying (with 32+ players) that isn't featured here, please contact us with the tournament details,
      and we'll consider adding it to our database.
      Your contributions help keep this resource valuable for the entire Star Wars Unlimited community.</p>
    <p>Tournaments marked with a star (<i class="bi bi-star-fill"></i>)
      are included in the metagame calculation due to their significance.</p>
  </div>

  <div id="events-container" class="table-responsive">
    <div class="search-container">
      <input type="text" class="form-control search-input search" placeholder="Search..."
             spellcheck="false" autocorrect="off" autocomplete="off"
             autocapitalize="off">
      <i class="bi bi-search search-icon"></i>
    </div>

    <table class="table table-hover sw-table">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col" class="d-none d-md-table-cell"></th>
        <th scope="col">Tournament</th>
        <th scope="col" class="d-none d-sm-table-cell">Winner</th>
        <th scope="col" class="text-center d-none d-md-table-cell">Country</th>
        <th scope="col" class="d-none d-lg-table-cell">Type</th>
        <th scope="col" class="text-end d-none d-md-table-cell">Players</th>
      </tr>
      <tbody class="list">
      {{#events}}
        <tr>
          <td class="align-middle fit">
            <span class="align-middle text-secondary" style="font-size: 80%">{{event.date}}</span></td>
          <td class="align-middle fit d-none d-md-table-cell">{{#metaRelevant}}<i class="bi bi-star-fill" style="color: var(--sw-yellow)"></i>{{/metaRelevant}}</td>
          <td class="align-middle fit event-name">
            <span class="align-middle">
              <a href="{{page}}">{{event.name}}</a>{{#newLabel}}<img class="ms-2 d-none d-md-inline" src="/images/new-label.png" width="38" height="20"/>{{/newLabel}}
            </span>
          </td>
          <td class="align-middle d-none d-sm-table-cell event-winner">
            {{#winner}}
              <span class="d-none">{{winner.leader.alt}}</span>
              <img src="{{winner.leader.url}}" alt="{{winner.leader.alt}}" width="120" class="img-fluid align-middle rounded rounded-1 d-inline-block"/>
              <img src="{{winner.base.url}}" alt="{{winner.base.alt}}" width="120" class="img-fluid align-middle rounded rounded-1 d-none d-xl-inline-block ms-2"/>
            {{/winner}}
          </td>
          <td class="align-middle text-center fit d-none d-md-table-cell">
            <i class="fi fi-{{countryFlag}}"></i>
          </td>
          <td class="align-middle fit d-none d-lg-table-cell event-type">
            <span class="badge text-bg-secondary align-middle">{{event.type}}</span>
          </td>
          <td class="align-middle text-end fit d-none d-md-table-cell">
            <span class="align-middle">{{event.players}}</span>
          </td>
        </tr>
      {{/events}}
      </tbody>
      </thead>
    </table>
  </div>
</section>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    const options = {
      valueNames: [ 'event-name', 'event-winner', 'event-type' ]
    };
    const eventsList = new List('events-container', options);
  });
</script>


{{>templates/footer.mustache}}
