{{>templates/header.mustache}}

<section class="container">
  {{>templates/event-header.mustache}}

  <div class="row">
    <div class="col mt-3">
      {{>templates/winrates-table.mustache}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="chart-all-leaders" class="w-100"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div id="chart-top64-leaders" class="w-100"></div>
    </div>
    <div class="col-xl-6">
      <div id="chart-top64-survivors" class="w-100"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div id="chart-top8-leaders" class="w-100"></div>
    </div>
    <div class="col-xl-6">
      <div id="chart-top8-survivors" class="w-100"></div>
    </div>
  </div>
</section>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    createHorizontalBarChart('chart-all-leaders', 'all-leaders.json', {
      title: 'All Leaders',
    });
    createHorizontalBarChart('chart-top64-leaders', 'top64-leaders.json', {
      title: 'Top 64 Leaders',
    });
    createHorizontalBarChart('chart-top8-leaders', 'top8-leaders.json', {
      title: 'Top 8 Leaders',
    });
    createHorizontalBarChart('chart-top64-survivors', 'top64-survivors.json', {
      title: 'Top 64 Survivors (%)',
      valueAsPercentage: true
    });
    createHorizontalBarChart('chart-top8-survivors', 'top8-survivors.json', {
      title: 'Top 8 Survivors (%)',
      valueAsPercentage: true
    });
  });
</script>

{{>templates/footer.mustache}}
