{{>templates/header.mustache}}

<section class="container">
  <h1 class="section-title">{{meta.title}}</h1>

  <div class="info-banner mb-3 d-none d-lg-block" style="font-size: 90%">
    <p class="d-none d-xl-block">This page features a curated selection of Star Wars Unlimited tournaments that have
      made a significant impact on the competitive metagame. To maintain quality and relevance, we only include events
      with at least 32 participants. This approach ensures that the tournament data represented here reflects
      substantial competitive environments where meaningful strategies and deck trends can be observed.</p>
    <p class="d-none d-xl-block">While we strive to include all major tournaments, this listing is not exhaustive. If
      you know of a qualifying (with 32+ players) that isn't featured here, please contact us with the tournament
      details, and we'll consider adding it to our database.
      Your contributions help keep this resource valuable for the entire Star Wars Unlimited community.</p>
    <p class="d-none d-lg-block">Tournaments marked with a star (<i class="bi bi-star-fill"></i>)
      are included in the metagame calculation due to their significance.</p>
    <p class="d-none d-lg-block">Tournaments marked with a warning symbol (<i class="bi bi-exclamation-diamond-fill"></i>)
      do not contain sufficient data (for instance: decklists are missing).</p>
  </div>

  <div id="tournaments-container">
    <div class="search-container">
      <input type="text" class="form-control search-input search" placeholder="Search..."
             spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="off">
      <i class="bi bi-search search-icon"></i>
    </div>

    <table class="table table-hover sw-table">
      <thead>
      <tr>
        <th scope="col" class="col-date d-none d-md-table-cell">Date</th>
        <th scope="col" class="col-meta d-none d-lg-table-cell"></th>
        <th scope="col" class="col-tournament">Tournament</th>
        <th scope="col" class="col-winner d-none d-lg-table-cell">Winner</th>
        <th scope="col" class="col-country text-center d-none d-lg-table-cell"><span class="d-none d-xl-inline-block">Country</span></th>
        <th scope="col" class="col-type text-center d-none d-sm-table-cell">Type</th>
        <th scope="col" class="col-player text-end">Players</th>
      </tr>
      <tbody class="list">
      {{#events}}
        <tr>
          <td class="col-date text-secondary d-none d-md-table-cell">{{event.date}}</td>
          <td class="col-meta d-none d-lg-table-cell">
            {{#metaRelevant}}<i class="bi bi-star-fill"></i>{{/metaRelevant}}
            {{^dataComplete}}<i class="bi bi-exclamation-diamond-fill text-secondary"></i>{{/dataComplete}}
          </td>
          <td class="col-tournament event-name">
            <div class="vstack gap-2">
              <div class="hstack gap-2">
                <div class="text-truncate"><a href="{{page}}">{{event.name}}</a></div>
                {{#newLabel}}
                  <img class="d-inline-block" src="/images/new-label.png" width="38" height="20"/>
                {{/newLabel}}
              </div>
              <div class="hstack d-lg-none mb-1">
                {{#winner}}
                <img src="{{winner.leader.url}}" alt="{{winner.leader.alt}}" width="120"
                     class="img-fluid rounded rounded-1 d-inline-block me-1"/>
                <img src="{{winner.base.url}}" alt="{{winner.base.alt}}" width="120"
                     class="img-fluid rounded rounded-1 d-inline-block"/>
                {{/winner}}
              </div>
            </div>
          </td>
          <td class="col-winner d-none d-lg-table-cell event-winner">
            {{#winner}}
              <span class="d-none">{{winner.leader.alt}}</span>
              <img src="{{winner.leader.url}}" alt="{{winner.leader.alt}}" width="120"
                   class="img-fluid rounded rounded-1 d-inline-block"/>
              <img src="{{winner.base.url}}" alt="{{winner.base.alt}}" width="120"
                   class="img-fluid rounded rounded-1 d-none d-xl-inline-block ms-1"/>
            {{/winner}}
          </td>
          <td class="col-country text-center d-none d-lg-table-cell event-location">
            <i class="fi fi-{{countryFlag}}"></i>
            <span class="d-none">{{event.location.city}}</span>
            <span class="d-none">{{event.location.country}}</span>
          </td>
          <td class="col-type text-center d-none d-sm-table-cell event-type">
          <span class="badge {{#event.type}}{{#cssClass}}{{.}}{{/cssClass}}{{/event.type}}">{{event.type}}</span>
          </td>
          <td class="col-players text-end">{{event.players}}</td>
        </tr>
      {{/events}}
      </tbody>
      </thead>
    </table>
  </div>
</section>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    const options = {
      valueNames: [ 'event-name', 'event-winner', 'event-type', 'event-location' ]
    };
    const eventsList = new List('tournaments-container', options);
  });
</script>

{{>templates/footer.mustache}}
