<p class="fs-6 m-0 p-0 mb-1"><a href="/tournaments/" class="text-decoration-none sw-link">Tournaments</a> &gt;</p>
<h1 class="section-title">
  <i class="me-1 fi fi-{{countryFlag}}"></i>
  {{event.name}}
</h1>

<div class="row">
  <dl class="col event-metadata">
    <div>
      <dt class="text-secondary">Location:</dt>
      <dd class="fw-bold">{{event.location}}</dd>
    </div>
    <div>
      <dt class="text-secondary">Date:</dt>
      <dd class="fw-bold">{{event.date}}</dd>
    </div>
    <div>
      <dt class="text-secondary">Type:</dt>
      <dd><span class="fw-bold">{{event.type}}</span> / {{event.players}} players</dd>
    </div>
    {{#event.melee}}
      <div>
        <dt class="text-secondary">Source:</dt>
        <dd><i class="bi bi-card-list source mx-1"></i>
          <a class="source" href="{{event.melee}}" target="_blank">Melee.gg</a></dd>
      </div>
    {{/event.melee}}
  </dl>
</div>
