{{>templates/header.mustache}}

<div class="hero">
  <div class="container">
    <h1 class="text-uppercase">Welcome to swumeta.net</h1>
    <p>Your ultimate resource for Star Wars Unlimited card game meta analysis, deck building, and tournament
      insights</p>
    <a class="btn btn-sw" href="/events.html">Explore Tournaments Results</a>
  </div>
</div>

<section class="container my-4">
  <h2 class="section-title text-center mb-2">Current Meta Overview</h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col">
          <div class="info-banner mb-4">
            <h3>Meta Snapshot - {{lastEventDate}}</h3>
            <p class="mb-1">Based on data from <span class="fw-bolder">{{totalDecks}}</span> decks.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table sw-table">
              <thead>
              <tr>
                <th>Leader - Base</th>
                <th class="text-end">Meta</th>
              </tr>
              </thead>
              <tbody>
              {{#topDecks}}
                <tr>
                  <td>{{key}}</td>
                  <td class="text-end fit">{{value}}%</td>
                </tr>
              {{/topDecks}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col">
          <div class="table-responsive">
            <table class="table sw-table">
              <thead>
              <tr>
                <th>Top 8 - Leader - Base</th>
                <th class="text-end">Meta</th>
              </tr>
              </thead>
              <tbody>
              {{#top8Decks}}
                <tr>
                  <td>{{key}}</td>
                  <td class="text-end fit">{{value}}%</td>
                </tr>
              {{/top8Decks}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header bg-dark">
              <h5 class="card-title mb-0">Most Played Cards</h5>
            </div>
            <div class="card-body">
              <ol id="top-cards" class="list-group list-group-flush bg-transparent">
                {{#topCards}}
                  <li class="list-group-item bg-transparent text-light border-bottom border-secondary">
                    {{key}}
                  </li>
                {{/topCards}}
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header bg-dark">
              <h5 class="card-title mb-0"><i class="bi bi-chat-dots-fill"></i> We want to hear from you!</h5>
            </div>
            <div class="card-body">
              <p>This is the <strong>beta version</strong> of this website.</p>
              <p>Should you have any ideas to improve this website, please feel free to reach out!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{>templates/footer.mustache}}
