{{>templates/header.mustache}}

<!-- Hero Section -->
<div class="hero">
  <div class="container">
    <h1 class="text-uppercase">Welcome to swumeta.net</h1>
    <p>Your ultimate resource for Star Wars Unlimited card game meta analysis, deck building, and tournament
      insights</p>
    <a class="btn btn-sw" href="/events.html">Explore Tournaments Results</a>
  </div>
</div>

<!-- Meta Overview Section -->
<section class="container my-5">
  <h2 class="section-title text-center mb-4">Current Meta Overview</h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="meta-stats mb-4">
        <h4>Meta Snapshot - {{lastEventDate}}</h4>
        <p>Based on data from <span class="fw-bolder">{{totalDecks}}</span> decks.</p>
      </div>

      <div class="table-responsive">
        <table class="table sw-table">
          <thead>
          <tr>
            <th>Leader - Base</th>
            <th class="text-end">Meta</th>
          </tr>
          </thead>
          <tbody>
          {{#topDecks}}
            <tr>
              <td>{{key}}</td>
              <td class="text-end fit">{{value}}%</td>
            </tr>
          {{/topDecks}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header bg-dark">
          <h5 class="card-title mb-0">Most Played Cards</h5>
        </div>
        <div class="card-body">
          <ol id="top-cards" class="list-group list-group-flush bg-transparent">
            {{#topCards}}
              <li class="list-group-item bg-transparent text-light border-bottom border-secondary">
                {{key}}
              </li>
            {{/topCards}}
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

{{>templates/footer.mustache}}
