{{>templates/header.mustache}}

<section class="container">
  <h1 class="section-title text-center mb-1">Metagame &bull; Win rates</h1>
  <div class="info-banner mb-4" style="font-size: 90%">
    <p>This page analyzes <strong>{{deckCount}}</strong> decks in major Star Wars Unlimited tournaments with 32+ players
      (including Galactic Championship, Regional Qualifier, Sector Qualifier, and Planetary Qualifier tournaments),
      based on <strong>{{matchCount}}</strong> matches.</p>
  </div>

  <div class="row mb-1 sm-m-4">
    <div class="col py-1">
      {{>templates/winrates-chart.mustache}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{>templates/winrates-table.mustache}}
    </div>
  </div>
</section>

{{>templates/footer.mustache}}
