<div class="info-banner mb-4" style="font-size: 90%">
  <p>This page analyzes <strong>{{header.deckCount}}</strong> decks in {{header.eventCount}} major Star Wars Unlimited
    tournaments with 32+ players (including Galactic Championship, Regional Qualifier, Sector Qualifier,
    and Planetary Qualifier tournaments), based on <strong>{{header.matchCount}}</strong> matches.</p>
</div>
