<!DOCTYPE html>
<html>
<head>
  <title>Redirecting...</title>
  <meta charset="utf-8"/>
  <meta http-equiv="refresh" content="0; url={{target}}"/>
  <link rel="canonical" href="{{target}}"/>
  <script>location="{{target}}"</script>
</head>
<body>
<h1>Redirecting...</h1>
<p><a href="{{target}}">Click here if you are not redirected</a>.</p>
</body>
</html>
