<div class="winrates-matrix" data-url="winrates-matrix.json">
  <button class="go-fullscreen btn btn-light" type="button"><i class="bi bi-arrows-fullscreen"></i></button>
  <div class="modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-secondary"><i class="bi bi-percent"></i> Win Rates</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
  <div class="spinner-border m-1" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
