{
"data": [
{{#series}}
  { "name": "{{leader}}", "meta": {{metaShare}}, "win": {{winRate}}, "matches": {{matches}}, "winCount": {{winCount}}, "lossCount": {{lossCount}}, "drawCount": {{drawCount}} }{{^-last}},{{/-last}}
{{/series}}
]
}
